<div class="basketWidget" n:snippet data-naja-history-nocache>
	<a href="{plink Basket:}" class="ajax">
		<span class="basketWidget-itemsCount">{$itemsCount}</span>
		<img src="{$basePath}/images/basket.svg" alt="Shopping Basket" class="basketWidget-basket">
	</a>
</div>
