<div class="basketWidget">
	<a href="{plink Basket:}">
		<span class="basketWidget-itemsCount">{$itemsCount}</span>
		<img src="{$basePath}/images/basket.svg" alt="Shopping Basket" class="basketWidget-basket">
	</a>
</div>
