application:
	mapping:
		*: App\UI\Presenters\*Presenter


services:
	routing.router: App\Routing\RouterFactory()::createRouter

	- App\Domain\Catalog\ProductRepository
	- App\Domain\Basket\Basket

	- App\UI\Components\BasketWidget\BasketWidgetComponentFactory
	- App\UI\Components\AddToBasketButton\AddToBasketButtonComponentFactory


extensions:
	webpack: Oops\WebpackNetteAdapter\DI\WebpackExtension(%debugMode%)

webpack:
	build:
		directory: %wwwDir%/dist
		publicPath: dist/

	devServer:
		url: http://localhost:3060
