<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title n:snippet="title">{include title} - Acme Corporation</title>
	<link rel="stylesheet" href="{webpack main.css}">
</head>
<body>
	<div class="wrapper">
		<header class="siteHeader">
			<a n:href="ProductList:" class="ajax">
				<img
					src="https://vignette.wikia.nocookie.net/looneytunes/images/5/56/Comp_2.jpg"
					alt="Acme Corporation"
					class="logo"
				>
			</a>

			{control basketWidget}
		</header>

		<main class="mainContent" n:snippet="content">
			{include content}
		</main>
	</div>

	<script src="{webpack main.js}"></script>
</body>
</html>
